@model IEnumerable<Hotele>

@{
    ViewData["Title"] = "Home Page";
}



<header>
    <h1>Witamy w Hotel Showcase!</h1>
</header>

<section id="welcome-section">
    <h2>Znajdź idealny hotel dla siebie!</h2>
    <p>Przeglądaj hotele w różnych miastach, sprawdź dostępność i ceny.</p>
</section>

<section id="hotels-section">
    <h2>Przeglądaj Hotele</h2>
    @foreach (var hotel in Model) {
        <div class="hotel">
            <h3>@hotel.nazwa_hotelu</h3>
            <p>Adres: @hotel.adres</p>
            <p>Ocena: @hotel.ocena</p>
            <p>Typ: @hotel.typ_hotelu</p>
            <p>Udogodnienia: @hotel.udogodnienia</p>
        </div>
    }
</section>

<footer>
    <p>&copy; 2023 Hotel Showcase</p>
</footer>

